Package: com.michael.suer
Version: 0.3.1
Section: Tweaks
Name: suer
Author: halo_michael <yc992147156@me.com>
Sponsor: halo_michael <yc992147156@me.com>
Maintainer: halo_michael <yc992147156@me.com>
Depends: firmware (>= 9.0)
Architecture: iphoneos-arm
Description: Temporaily assume root priviledges but need not password.
Depiction: https://halo-michael.github.io/repo/info/suer
